USE [master]
GO
/****** Object:  Database [CountryManagementSystem]    Script Date: 7/10/2016 10:50:41 AM ******/
CREATE DATABASE [CountryManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CountryManagementSystem', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CountryManagementSystem.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CountryManagementSystem_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CountryManagementSystem_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CountryManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CountryManagementSystem]
GO
/****** Object:  Table [dbo].[Citys]    Script Date: 7/10/2016 10:50:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Citys](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NOT NULL,
	[CityAbout] [nvarchar](max) NOT NULL,
	[NoOfDwellers] [bigint] NOT NULL,
	[Location] [varchar](50) NOT NULL,
	[Weather] [varchar](50) NOT NULL,
	[CountryId] [int] NULL,
 CONSTRAINT [PK_Citys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Countrys]    Script Date: 7/10/2016 10:50:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countrys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
	[CountryAbout] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Countrys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  View [dbo].[CityListWithCountryName]    Script Date: 7/10/2016 10:50:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CityListWithCountryName]
 AS

SELECT Citys.CityName, Citys.NoOfDwellers, Countrys.CountryName From 
Countrys JOIN Citys ON Countrys.Id = Citys.CountryId




GO
/****** Object:  View [dbo].[ViewCitiesAllListCityAndCountryWise]    Script Date: 7/10/2016 10:50:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewCitiesAllListCityAndCountryWise]
 AS

SELECT Citys.CityName, Citys.CityAbout, Citys.NoOfDwellers, Citys.Location, Citys.Weather, Countrys.CountryName, Countrys.CountryAbout 
FROM Countrys JOIN Citys ON Countrys.Id = Citys.CountryId




GO
SET IDENTITY_INSERT [dbo].[Citys] ON 

SET IDENTITY_INSERT [dbo].[Citys] OFF
SET IDENTITY_INSERT [dbo].[Countrys] ON 

SET IDENTITY_INSERT [dbo].[Countrys] OFF
ALTER TABLE [dbo].[Citys]  WITH CHECK ADD  CONSTRAINT [FK_Citys_Countrys] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countrys] ([Id])
GO
ALTER TABLE [dbo].[Citys] CHECK CONSTRAINT [FK_Citys_Countrys]
GO
USE [master]
GO
